# Text Models

* **Name:** Aldo Barriente
* **Course:** DS 5001
* **Instructor:** Professor Rafael Alvarado

## Set up

In [5]:
data_in = './data_in'
data_out = './data_out'
data_prefix = 'zapatistas'

In [2]:
import pandas as pd

In [7]:
lines = ''
with open(f'{data_in}/{data_prefix}-ch1.txt', 'r') as chap_one:
    lines = chap_one.readlines()

## Creating dataframe

In [11]:
text = pd.DataFrame(lines)
text.columns = ['line_str']
text.index.name = 'line_num'
text['len'] = text.line_str.str.len()

In [12]:
text.len.describe()

count    1044.000000
mean       53.414751
std        26.836128
min         1.000000
25%        27.000000
50%        70.000000
75%        73.000000
max        78.000000
Name: len, dtype: float64

## Counting tokens

In [17]:
TOKENS = text.line_str.str.split(expand=True).stack().to_frame()
TOKENS.index.names = ['line_num', 'token_num']
TOKENS.columns = ['token_str']

In [18]:
TOKENS['term_str'] = TOKENS.token_str.replace('\W+', '', regex=True)

In [19]:
TOKENS.sample(10)

                   token_str  term_str
line_num token_num
983      1                to        to
379      5          agrarian  agrarian
842      3                we        we
665      3               and       and
493      4                to        to
71       0            Readme    Readme
687      8              have      have
816      0            paths.     paths
677      1               the       the
1037     0             LANIC     LANIC

In [20]:
TOKENS.term_str.value_counts()

the           692
of            357
and           312
to            301
that          196
             ...
Margaritas      1
assets          1
governing       1
regulated       1
talking         1
Name: term_str, Length: 1957, dtype: int64